---
http_interactions:
- request:
    method: post
    uri: https://sandbox.api.payulatam.com/payments-api/4.0/service.cgi
    body:
      encoding: UTF-8
      string: '{"test":true,"language":"en","command":"SUBMIT_TRANSACTION","merchant":{"apiLogin":"pRRXKOl8ikMmt9u","apiKey":"4Vj8eK4rloUd272L48hsrarnUA"},"transaction":{"paymentCountry":"PE","type":"AUTHORIZATION","ipAddress":"127.0.0.1","order":{"accountId":"512323","referenceCode":"R335946349-JSTE5VQT","description":"Compra
        en 508029","language":"en","shippingAddress":{"street1":"YT-1300","street2":"","city":"Mos
        Eisley","state":"AL","country":"US","postalCode":"12010","phone":"(555) 555-5555"},"buyer":{"fullName":"APPROVED
        .","dniNumber":"32144457","dniType":null,"merchantBuyerId":null,"emailAddress":"han@example.com","contactPhone":"(555)
        555-5555","shippingAddress":{"street1":"YT-1300","street2":"","city":"Mos
        Eisley","state":"AL","country":"US","postalCode":"12010","phone":"(555) 555-5555"}},"additionalValues":{"TX_VALUE":{"value":"19.99","currency":"PEN"}},"signature":"e300bd9238a0d40dab9bde4566b587ac"},"creditCard":{"number":"4111111111111111","securityCode":"123","expirationDate":"2021/09","name":"APPROVED
        ."},"paymentMethod":"VISA","payer":{"fullName":"APPROVED .","contactPhone":"(555)
        555-5555","dniNumber":"32144457","emailAddress":"han@example.com","billingAddress":{"street1":"YT-1300","street2":"","city":"Mos
        Eisley","state":"AL","country":"US","phone":"(555) 555-5555"}},"extraParameters":{"INSTALLMENTS_NUMBER":1}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"SUCCESS","error":null,"transactionResponse":{"orderId":120272442,"transactionId":"22a54c67-c47c-4cf7-b02e-1401f823999a","state":"APPROVED","paymentNetworkResponseCode":"000","paymentNetworkResponseErrorMessage":null,"trazabilityCode":"3084","authorizationCode":"273930","pendingReason":null,"responseCode":"APPROVED","errorCode":null,"responseMessage":"Aprobado
        y completado con exito","transactionDate":null,"transactionTime":null,"operationDate":1595445798781,"referenceQuestionnaire":null,"extraParameters":{"BANK_REFERENCED_CODE":"CREDIT"},"additionalInfo":null}}'
  recorded_at: Thu, 23 Jul 2020 00:23:18 GMT
- request:
    method: post
    uri: https://sandbox.api.payulatam.com/payments-api/4.0/service.cgi
    body:
      encoding: UTF-8
      string: '{"test":true,"language":"en","command":"SUBMIT_TRANSACTION","merchant":{"apiLogin":"pRRXKOl8ikMmt9u","apiKey":"4Vj8eK4rloUd272L48hsrarnUA"},"transaction":{"paymentCountry":"PE","type":"CAPTURE","ipAddress":"127.0.0.1","order":{"id":"120272442"},"parentTransactionId":"22a54c67-c47c-4cf7-b02e-1401f823999a","reason":"n/a","additionalValues":{"TX_VALUE":{"value":"19.99","currency":"PEN"}}}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"SUCCESS","error":null,"transactionResponse":{"orderId":120272442,"transactionId":"d0739e63-efc3-4d8c-a546-9e2f0b8364ca","state":"APPROVED","paymentNetworkResponseCode":"000","paymentNetworkResponseErrorMessage":null,"trazabilityCode":"77821","authorizationCode":"170921","pendingReason":null,"responseCode":"APPROVED","errorCode":null,"responseMessage":"Aprobado
        y completado con exito","transactionDate":null,"transactionTime":null,"operationDate":1595445802220,"referenceQuestionnaire":null,"extraParameters":null,"additionalInfo":null}}'
  recorded_at: Thu, 23 Jul 2020 00:23:22 GMT
- request:
    method: post
    uri: https://sandbox.api.payulatam.com/payments-api/4.0/service.cgi
    body:
      encoding: UTF-8
      string: '{"test":true,"language":"en","command":"SUBMIT_TRANSACTION","merchant":{"apiLogin":"pRRXKOl8ikMmt9u","apiKey":"4Vj8eK4rloUd272L48hsrarnUA"},"transaction":{"paymentCountry":"PE","type":"VOID","ipAddress":"127.0.0.1","order":{"id":"120272442"},"parentTransactionId":"d0739e63-efc3-4d8c-a546-9e2f0b8364ca","reason":"n/a"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"SUCCESS","error":null,"transactionResponse":{"orderId":120272442,"transactionId":"b2d0dc08-16eb-4a9f-8012-6c8f1d0d068b","state":"APPROVED","paymentNetworkResponseCode":"000","paymentNetworkResponseErrorMessage":null,"trazabilityCode":"77821","authorizationCode":"170921","pendingReason":null,"responseCode":"APPROVED","errorCode":null,"responseMessage":null,"transactionDate":null,"transactionTime":null,"operationDate":1595445805900,"referenceQuestionnaire":null,"extraParameters":null,"additionalInfo":null}}'
  recorded_at: Thu, 23 Jul 2020 00:23:25 GMT
recorded_with: VCR 6.0.0
